<div class="flex flex-col py-5 px-4 min-h-[100vh] items-center justify-center">
  <img class="w-[220px] md:w-[280px]" src="/assets/images/viitor-logo.png" alt="MAP logo">
  <div
    class="bg-white px-4 sm:px-10 md:px-[100px] w-[570px] max-w-[100%] py-4 sm:py-[44px] rounded-[10px] mt-7 md:mt-[90px]">
    <form #spForm="ngForm">
      <div class="bg-blue-100 border-blue-400 border rounded-md text-blue-400 p-3 mb-5 md:mb-7">
        <p class="text-xs">
          {{ 'login.setPasswordInfo' | translate }}
        </p>
      </div>
      <div class="flex">
        <label class="field-lbl" for="password"
          [ngClass]="{ 'field-error': (spForm.submitted || password.touched) && password.invalid }">{{ 'login.password'
          | translate }}</label>
        <input class="form-field"
          [ngClass]="{ 'field-error': (spForm.submitted || password.touched) && password.invalid }"
          [pattern]="passwordRegex" type="password" name="password" id="password" ngModel #password="ngModel" required>
      </div>
      <ng-container *ngIf="(spForm.submitted || password.touched)">
        <ng-container *ngIf="password.errors?.required">
          <p class="error-message"> {{ 'validation.passwordRequired' | translate }} </p>
        </ng-container>
        <ng-container *ngIf="password.errors?.pattern">
          <p class="error-message"> {{ 'validation.invalidPassword' | translate }} </p>
        </ng-container>
      </ng-container>
      <div class="flex mt-4">
        <label class="field-lbl" for="confirmPassword"
          [ngClass]="{ 'field-error': (spForm.submitted || confirmPassword.touched) && confirmPassword.invalid }">{{
          'login.confirmPassword' | translate }}</label>
        <input class="form-field"
          [ngClass]="{ 'field-error': (spForm.submitted || confirmPassword.touched) && confirmPassword.invalid }"
          type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" required>
      </div>
      <ng-container *ngIf="(spForm.submitted || confirmPassword.touched)">
        <ng-container *ngIf="confirmPassword.errors?.required">
          <p class="error-message"> {{ 'validation.confirmPasswordRequired' | translate }} </p>
        </ng-container>
        <ng-container *ngIf="confirmPassword.value !== password.value">
          <p class="error-message"> {{ 'validation.passwordValidation' | translate }} </p>
        </ng-container>
      </ng-container>
      <div class="mt-5 md:mt-8 text-right">
        <app-vc-button [type]="'submit'"
          [class]="{'common-btn secondary-btn font-base font-semibold rounded-[5px] min-w-[120px]': true, 'pointer-events-none': isSubmitted}"
          [isDisabled]="isSubmitted" [spin]="isSubmitted" (buttonTap)="resetPassword(spForm)">{{'login.resetPassword' |
          translate}}</app-vc-button>
      </div>
    </form>
  </div>
</div>