<div class="flex flex-col py-5 px-4 min-h-[100vh] items-center justify-center">
  <img class="w-[220px] md:w-[280px]" src="/assets/images/viitor-logo.png" alt="MAP logo">
  <div
    class="bg-white px-4 sm:px-10 md:px-[100px] w-[570px] max-w-[100%] py-4 sm:py-[44px] rounded-[10px] mt-7 md:mt-[90px]">
    <form [formGroup]="fpForm">
      <div class="mb-2">
        <p>
          {{ 'login.forgotPasswordInfo' | translate }}
        </p>
      </div>
      <div class="flex">
        <label class="field-lbl"
          [ngClass]="{ 'field-error': (formControls.email.touched) && formControls.email.invalid }" for="email">{{
          'login.email' | translate }}</label>
        <app-vc-input formControlName="email"
          [customClass]="{ 'form-field': true, 'field-error': formControls.email.touched && formControls.email.invalid }"
          type="email" name="email" [required]="true" [pattern]="emailRegex" />
      </div>
      <ng-container *ngIf="formControls.email.touched">
        <ng-container *ngIf="formControls.email.errors?.required">
          <p class="error-message"> {{ 'validation.emailRequired' | translate }} </p>
        </ng-container>
        <ng-container *ngIf="formControls.email.errors?.pattern">
          <p class="error-message"> {{ 'validation.invalidEmail' | translate }} </p>
        </ng-container>
      </ng-container>
      <div class="mt-5 md:mt-8 text-right">
        <app-vc-button [type]="'submit'"
          [class]="{'common-btn secondary-btn font-base font-semibold rounded-[5px] min-w-[120px]': true, 'pointer-events-none': isSubmitted}"
          [isDisabled]="isSubmitted" [spin]="isSubmitted" (buttonTap)="submitForm()">
          {{ 'login.forgotPassword' | translate }}
        </app-vc-button>
      </div>
      <div class="mt-2 md:mt-3 text-right">
        <app-vc-button [class]="{'cursor-pointer text-[13px]': true}" [isDisabled]="isSubmitted"
          (buttonTap)="backToLogin()">
          {{'login.backToLogin' | translate }}
        </app-vc-button>
      </div>
    </form>
  </div>
</div>